<% if current_user.allowed_to?(:add_to_own_assembly) || current_user.allowed_to?(:add_to_any_assembly) %>
	<% assemblies = [] %>
	<% if @user.allowed_to?(:add_to_any_assembly) %>
		<% assemblies = Location.where("location_type = \"assembly\"").collect { |assembly| [assembly.name, assembly.id] } %>
	<% else %>
		<% assemblies = current_user.assemblies.collect { |assembly| [assembly.name, assembly.id] } %>
	<% end %>
	<%= f.fields_for :assemblies do |a| %>
		<div class="subform" id="user_assemblies">
			<%= a.label :location_id, t(:form_user_assemblies) %>
			<%= a.select :location_id, assemblies %>
		</div>
	<% end %>
<% end %>