<header class="header">
	<div id="logo">
		<%= link_to image_tag("logomenu.png"), root_url %>
	</div>
	<% if signed_in? %>
	<nav class="nav_menu">
		<ul>
			<li> <%= link_to t(:home), root_url %>
			<% if current_user.allowed_to?(:see_user_list) %>
			<li> <%= link_to t(:user_list_title), users_url  %>
			<% end %>
			<li> <%= link_to t(:logout), logout_url %>
		</ul>
	</nav>
	<% end %>
</header>
